body {
  margin: 0;
  padding: 0;
  background: #1c1729;
  font-family: "Roboto", Arial, sans-serif;
}

h1,
h2,
h3,
span,
p,
a {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #616d98;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  padding: 1.5rem;
  box-sizing: border-box;
  height: 100%;
  border: 4px solid #446464;
  border-radius: 4px;
  margin-bottom: 2.5rem;
}

.formulario-data,
.formulario-titulo {
  display: flex;
  align-items: center;
}

.formulario label {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 0.75rem;
}

.formulario .btn {
  width: 140px;
  height: 45px;
  background: #33783a;
  color: #56e976;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

.formulario .btn:hover {
  cursor: pointer;
  background: #56e976;
  color: #33783a;
}

input[type="date"],
input[type="text"] {
  width: 140px;
  height: 24px;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 4px;
}

input[type="text"] {
  width: 200px;
}

.data {
  max-height: max-content;
  background: #2a233c;
  border-radius: 4px;
  padding: 1.5rem;
  box-sizing: border-box;
  height: 100%;
}

.data-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.data-header:hover {
  cursor: pointer;
}

.data-header h2 {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}

.data-data {
  display: none;
}

.data-data {
  display: initial;
}

.data-data p {
  font-size: 1rem;
  color: rgba(238, 238, 238, 0.6);
  margin-bottom: 45px;
}

.data-time-remove {
  display: none;
}

.data-time-remove {
  display: flex;
  justify-content: space-between;
  align-self: end;
}

.data-time-remove .timer {
  font-weight: bold;
  font-size: 2rem;
  color: #6b7fed;
}

.data-time-remove .btn-remove {
  width: 130px;
  height: 45px;
  background: #8a2020;
  color: #e15454;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}

.data-time-remove .btn-remove:hover {
  cursor: pointer;
  background: #e15454;
  color: #8a2020;
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 2rem;
  }
  .formulario {
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .formulario {
    grid-template-columns: 1fr;
  }
  .data-time-remove {
    flex-direction: column;
    gap: 1rem;
  }
  .data-time-remove .timer {
    font-size: 1.5rem;
  }
}
